<%- include("partials/adminHeader"); %>
<h1>Admin Details</h1>
<% if(success.length>0){ %>    
    <div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
          <%= success%> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <% } %>

<!-- Error Message -->
<% if(error.length>0){ %>    
    <div class="alert alert-danger d-flex align-items-center alert-dismissible fade show" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#exclamation-triangle-fill"/></svg>
          <%= error%> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <% } %>

<div class="p-5 mb-4 text-white bg-dark rounded-3">
    <h2>Register</h2>
    <p>Register new admin here.</p>
    <form class="/admin" action="/admin" method="POST">
      <div class="mb-3 ">
        <label class="form-label">Administrator Id</label>
        <input type="text" class="form-control text-black" name="id">
      </div>      
      <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control text-black" name="name">        
      </div>
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control text-black" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">        
      </div>
       <div class="mb-3">
        <label class="form-label">Position</label>
        <select class="form-select" id="autoSizingSelect" name="position">
            <option selected value="" type="position">Choose Position</option>
            <!-- <option value="Super Admin" type="position">Super Admin</option> -->
            <option value="administrator" type="position">Administrator</option>
            <option value="Manager" type="position">Manager</option>
            <option value="Security" type="position">Security</option>
          </select>     
      </div>           
      <button class="btn btn-outline-light" type="submit">Register</button>

    </form>
</div>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Admin Id</th>
        <th scope="col">Administrator's Name</th>
        <th scope="col">Position</th>
      </tr>
    </thead>
    <tbody>
      <% result.forEach(res => { %>
        <tr>
            <th scope="row"><%= res.ADMIN_ID %></th>
            <td><%=res.ANAME %></td>
            <td><%= res.POSITION %></td>
          </tr>
    <% }); %>
    </tbody>
  </table>

<%- include("partials/footer"); %>